body {
    font-family: "Raleway";
    font-size: 22px;
    background: #fff;
    padding:0px;
    margin:0px ;
    background-color: rgb(140,50,255);
    

}


input, button {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 20px;

}

.main-div , .loggedin-div {
    width:25%;
    margin: 0px auto;
    margin-top:150px;
    padding:100px;
    background-color:#fff;
    border: 10px solid rgb(22, 20, 20);
    display: none;
    
}

.main-div input {

    display:block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline:none;
    width:100%;
    margin-bottom: 10px;
}



.main-div input:focus {
    border: 1px solid rgb(53, 51, 51);
    transition: 0.3s;
    -webkit-transition:0.3s ;
    -moz-transition:0.3s;


}

.main-div button,.loggedin-div button {
    background: #5d8ffc;
    color: #fff;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    transition: 0.3s;
    -webkit-transition:0.3s ;
    -moz-transition:0.3s;
    
}


.main-div button:hover ,.loggedin-div button:hover {
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;



}